.tm-logo{
    width: 60px;
    height: auto;
}
.center-header{
    text-align: center;

}
.largura-menu{
    width: 25%;

}
.cor-texto{
    color: black;
}
.fixarnav{
    position: fixed;
}
.cor-bg{
    background-color: yellow;
}